<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>newTeamServlet</servlet-name>
        <servlet-class>com.gioAlexiou.db2FirstTry.newTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPlayerServlet</servlet-name>
        <servlet-class>com.gioAlexiou.db2FirstTry.newPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newMatchDataServlet</servlet-name>
        <servlet-class>com.gioAlexiou.db2FirstTry.newMatchDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamStats</servlet-name>
        <servlet-class>com.gioAlexiou.db2FirstTry.TeamStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoreServlet</servlet-name>
        <servlet-class>com.gioAlexiou.db2FirstTry.MoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerStatsServlet</servlet-name>
        <servlet-class>com.gioAlexiou.db2FirstTry.PlayerStatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newTeamServlet</servlet-name>
        <url-pattern>/newTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPlayerServlet</servlet-name>
        <url-pattern>/newPlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newMatchDataServlet</servlet-name>
        <url-pattern>/newMatchDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamStats</servlet-name>
        <url-pattern>/TeamStats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoreServlet</servlet-name>
        <url-pattern>/MoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerStatsServlet</servlet-name>
        <url-pattern>/PlayerStatsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
